extends:
  eslint-config-airbnb

plugins: 
  - react    

parser:
  babel-eslint

settings:
  ecmascript: 6

ecmaFeatures:
  jsx: true
  modules: true
  destructuring: true
  classes: true
  forOf: true
  blockBindings: true
  arrowFunctions: true

env:
  browser: true

rules:
  indent: 2
  func-style: 1
  func-names: 1
  comma-dangle: 1
  no-console: 1
  no-param-reassign: 1
  linebreak-style: 1
  import/no-extraneous-dependencies: 1
  import/no-unresolved: 1
  import/extensions: 1
  react/jsx-filename-extension: 1
  react/prop-types: 1
  react/forbid-prop-types: 1
  react/jsx-no-duplicate-props: 2
  
