<!DOCTYPE html>
<html>
  <head>
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-title" content="Zstore - Your shop anywhere.">
    <meta name="theme-color" content="#00ACFF">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <% for(var i=0; i<htmlWebpackPlugin.files.css.length; i++) {%>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[i] %>">
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <% for(var i=0; i<htmlWebpackPlugin.files.js.length; i++) {%>
    <script src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
  </body>
</html>
